body {
    text-align: center;
    background-color: rgb(255, 204, 153);
    font-family: Calibri, Arial, sans-serif;
    font-size: 200%;
}

input, label {
    margin: 10px;
    padding: 5px;
}

#word {
    width: 50%;
}